################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleProject/FileContentIndex/6044fa55-fd5b-48fe-9a55-574474408d1e.vsidx
/.vs/SampleProject/DesignTimeBuild/.dtbcache.v2
/.vs/SampleProject
#/obj/Debug/net6.0
/.vs/ProjectEvaluation/sampleproject.metadata.v5.2
/.vs/SampleProject/v17/TestStore/0/000.testlog
#/bin/Debug/net6.0/SampleProject.dll
.vs/SampleProject/v17/.futdcache.v2
.vs/SampleProject/v17/.suo
# Build results
#[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
#[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

test-results.xml
file.txt
/.vs/OnbePOC/FileContentIndex/dc8e80fd-b884-4c53-8068-85b78ebd849f.vsidx
*.sqlite
/.vs/SampleProject/v17/.suo
/.gitignore
/.gitignore
/.vs/Onbe_Specflow_Report_POC/FileContentIndex/fcc196ae-2d69-4dc4-b81b-dbf348e2db13.vsidx
/.vs/Onbe_Specflow_Report_POC/config/applicationhost.config
/.vs/Onbe_Specflow_Report_POC/FileContentIndex/0f5af019-0449-4bcc-a8af-bb8ebfe8ae41.vsidx
/.vs/Onbe_Specflow_Report_POC/FileContentIndex/f7e7dce2-71f1-4fa1-91ab-06f8a6ed697d.vsidx
/.vs/Onbe_Specflow_Report_POC/v17/TestStore/0
/CNAME
