################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleProject/FileContentIndex/6044fa55-fd5b-48fe-9a55-574474408d1e.vsidx
